* {font-family:Arial;}

td {padding: 10px 50px}

table {margin: auto;}

.equipe_rouge {color: #ff0000;}
.equipe_bleu {color: #0000ff;}
.equipe_vert {color: #009900;}

.pv {color: #00ff00;}
.mana {color: #0000ff;}
.dead {color: #aa0000;}

.position_inverse {text-align: right;}

.padding_centre {text-align: center;}
